form{
    display: table;
    padding-left: 5%;
}

#compute{
    margin-left: 5%;
    border-radius: 4px;
}

form p{
    display: table-row;
}

h1{
    color: gray;
}

label, #enteredRate{
    display: table-cell;
}

input, select{
    display: table-cell;
    margin-left: 10%;
    border-radius: 4px;
}

#result{
    display: none;
    margin-left: 5%;
}
